<h1>My tasks</h1>

<% @tasks.each do |task| %>
<h2><%= link_to task.title, task_path(task) %></h2>
<p>
 <% if task.completed %>
  <i class="fas fa-check"></i>
 <% else %>
  <i class="far fa-square"></i>
 <% end %>
</p>
<%= link_to "Delete task", task_path(task), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<p><%= link_to "Add a new task" , tasks_new_path %></p>
